/**
 * Button: Small
 */

:root {
  --button-small-padding: 10px 10px 5px;
  --button-small-font-size: 14px;
}

.button-small {
  padding: var(--button-small-padding);
  font-size: var(--button-small-font-size);
}
