/**
 * Button: Theme #3
 */

:root {
  --button-theme-3-background-color: var(--color-theme-3);
  --button-theme-3-color: var(--color-white);
}

.button-theme-3,
.button-theme-3:visited,
.button-theme-3:hover,
.button-theme-3:active {
  background-color: var(--button-theme-3-background-color);
  color: var(--button-theme-3-color);
}
