/* ========================================================================== *\
   SITE NAVIGATION ($site-navigation)
\* ========================================================================== */

:root {
  /* Default */
  --site-navigation-toggle-top: var(--spacing-3);
  --site-navigation-toggle-left: var(--spacing-3);
  --site-navigation-toggle-z-index: var(--z-index-7);
  --site-navigation-z-index: var(--z-index-6);
  --site-navigation-background-color: var(--color-theme-1);
  --site-navigation-nav-item-after-top: 32%;
  --site-navigation-nav-item-after-bottom: 40%;
  --site-navigation-nav-item-after-right: 100%;
  --site-navigation-nav-item-after-width: 1px;
  --site-navigation-nav-item-after-background-color: var(--color-white);
  --site-navigation-nav-link-color: var(--color-white);
  --site-navigation-nav-link-font-family: var(--font-family-2);
  --site-navigation-nav-link-padding: var(--spacing-4);
  /* Breakpoints */
  --xl-site-navigation-nav-link-padding: var(--spacing-4) var(--spacing-5);
}

.site-navigation-toggle {
  position: fixed;
  top: var(--site-navigation-toggle-top);
  left: var(--site-navigation-toggle-left);
  z-index: var(--site-navigation-toggle-z-index);
  visibility: visible;
}

.site-navigation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  z-index: var(--site-navigation-z-index);
  background-color: var(--site-navigation-background-color);
}

.site-navigation.is-visible {
  visibility: visible;
  opacity: 1;
}

.site-navigation-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  bottom: 0;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.site-navigation .nav {
  margin: var(--spacing-6) 0;
  padding: 0;
  list-style: none;
}

.site-navigation .nav-item {
  display: block;
}

.site-navigation .nav-link {
  display: block;
  color: var(--site-navigation-nav-link-color);
  text-decoration: none;
  font-family: var(--site-navigation-nav-link-font-family);
  padding: var(--site-navigation-nav-link-padding);
}

.site-navigation .nav-link.is-active {
  color: var(--color-theme-4);
}

@media (--min-width-lg) {
  .site-navigation {
    display: block;
    position: static;
    top: auto;
    left: auto;
    width: auto;
    height: auto;
    opacity: 1;
    visibility: visible;
  }

  .site-navigation-container {
    position: static;
    top: auto;
    left: auto;
    bottom: auto;
    overflow: auto;
    -webkit-overflow-scrolling: auto;
  }

  .site-navigation-toggle {
    visibility: hidden;
  }

  .site-navigation .nav {
    margin: 0;
  }

  .site-navigation .nav-item {
    position: relative;
    display: inline-block;
  }

  .site-navigation .nav-link {
    display: inline-block;
    transition: color 0.3s ease;
    backface-visibility: hidden
  }

  .site-navigation .nav-link:hover {
    color: var(--color-theme-4);
  }

  .site-navigation .nav-link-text {
    position: relative;
  }

  .site-navigation .nav-link-text:after {
    position: absolute;
    left: 0;
    width: 100%;
    bottom: -0.25em;
    height: 2px;
    content: '';
    transition: 0.3s all ease;
    transform: scaleX(0);
    visibility: hidden;
    background-color: var(--color-theme-4);
    backface-visibility: hidden;
  }

  .site-navigation .nav-link.is-active .nav-link-text:after {
    visibility: visible;
    transform: scaleX(1);
  }
}

@media (--min-width-xl) {
  .site-navigation .nav-link {
    padding: var(--xl-site-navigation-nav-link-padding);
  }
}
